{% include 'header.html' %}


    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(../static/assets/img/page-title-bg.jpg);">
        <div class="container position-relative">
            <div class="section-title">
                <h2>View contractor</h2>

            </div>  

          <nav class="breadcrumbs">
            <ol>
              <li><a href="\admin_home">Home</a></li>
              <li class="current">Contact</li>
            </ol>
          </nav>
        </div>
      </div><!-- End Page Title -->
  
    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">

        <div class="container">
          <div class="row gy-4">
            {% for contractor in contractors %}
  
            <div class="col-lg-4">
              <article class="position-relative h-100">
                <a href="../static/media/{{contractor.proof}}" target="_blank">
                    <div class="post-img position-relative overflow-hidden">
                    <img src="../static/media/{{contractor.proof}}" class="img-fluid" alt="">
                    <span class="post-date">Proof</span>
                    </div>
                </a>
  
                <div class="post-content d-flex flex-column">
  
                  <h3 class="post-title">{{contractor.email}}</h3>
  
                  <div class="meta d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-person"></i> <span class="ps-2">{{contractor.name}} </span>
                    </div>
                    <span class="px-3 text-black-50">/</span>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-folder2"></i> <span class="ps-2">{{contractor.state}}</span>
                    </div>
                  </div>
  
                  <p>
                    Email: {{contractor.email}}<br>
                    Phone: {{contractor.phone}}<br>
                    Address: {{contractor.address}}<br>
                    City: {{contractor.city}}<br>
                    Zip: {{contractor.zip}}<br>
                    State: {{contractor.state}}<br>
                    last login: {{contractor.user.last_login}}<br>
                  </p>
  
                  <hr>
                    {% if contractor.user.is_active %}
                    <a href="\admin_reject?id={{contractor.user.id}}&return=contractor" class="readmore"><span class="text-danger">Block</span><i class="bi bi-arrow-right"></i></a>
                    {% else %}
                    <a href="\admin_approve?id={{contractor.user.id}}&return=contractor" class="readmore"><span class="text-success">Approve</span><i class="bi bi-arrow-right"></i></a>
                    {% endif %}
                  <br>

                    <a href="\admin_vw_contractor_reviews?id={{contractor.user.id}}" class="readmore"><span class="text-warning">Reviews</span><i class="bi bi-arrow-right"></i></a>

                </div>
  
              </article>
            </div><!-- End post list item -->
            {% endfor %}
  
          </div>
        </div>
  
      </section><!-- /Blog Posts Section -->
  
      
{% include 'foot.html' %}