{% include 'header.html' %}


    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(../static/assets/img/page-title-bg.jpg);">
        <div class="container position-relative">
            <div class="section-title">
                <h2>Login</h2>
                <p>Login to get more projects</p>
            </div>  

          <nav class="breadcrumbs">
            <ol>
              <li><a href="\">Home</a></li>
              <li class="current">Contact</li>
            </ol>
          </nav>
        </div>
      </div><!-- End Page Title -->
  
      <!-- Contact Section -->
      <section id="contact" class="contact section">
  
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
            <div class="row gy-4 mt-1">
  
                <div class="col-lg-12">
                  <form method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="400" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row gy-4">
      
                        <div class="col-md-6 ">
                            <input type="text" class="form-control" name="email" placeholder="Your Email" required="">
                        </div>


                        <div class="col-md-6">
                            <input type="password" name="password" class="form-control" placeholder="Your Password" required="">
                        </div>

            
                        <div class="col-md-12 text-center">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
      
                        <button type="submit">Login</button>
                      </div>
      
                    </div>
                  </form>
                </div><!-- End Contact Form -->
      
              </div>

              



          <div class="row gy-4">
  
            <div class="col-lg-6">
              <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div><!-- End Info Item -->
  
            <div class="col-lg-3 col-md-6">
              <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->
  
            <div class="col-lg-3 col-md-6">
              <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->
  
          </div>
  
  
        </div>
  
      </section><!-- /Contact Section -->
  
    
      <!-- Get Started Section -->
      <section id="get-started" class="get-started section">
  
        <div class="container">
  
          <div class="row justify-content-between gy-4">
  
            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
              <div class="content">
                <h3>Minus hic non reiciendis ea possimus at quia.</h3>
                <p>Rem id rerum. Debitis deserunt quidem delectus expedita ducimus dolor. Aut iusto ipsa. Eos ipsum nobis ipsa soluta itaque perspiciatis fuga ipsum perspiciatis. Eum amet fugiat totam nisi possimus ut delectus dicta.
                </p>
                <p>Aliquam velit deserunt autem. Inventore et saepe. Tenetur suscipit eligendi labore culpa eos. Deserunt porro magni qui necessitatibus dolorem at animi cupiditate.</p>
              </div>
            </div>
  
            <div class="col-lg-5" data-aos="zoom-out" data-aos-delay="200">
              <form action="forms/quote.php" method="post" class="php-email-form">
                <h3>Get a quote</h3>
                <p>Vel nobis odio laboriosam et hic voluptatem. Inventore vitae totam. Rerum repellendus enim linead sero park flows.</p>
                <div class="row gy-3">
  
                  <div class="col-12">
                    <input type="text" name="name" class="form-control" placeholder="Name" required="">
                  </div>
  
                  <div class="col-12 ">
                    <input type="email" class="form-control" name="email" placeholder="Email" required="">
                  </div>
  
                  <div class="col-12">
                    <input type="text" class="form-control" name="phone" placeholder="Phone" required="">
                  </div>
  
                  <div class="col-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                  </div>
  
                  <div class="col-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>
  
                    <button type="submit">Get a quote</button>
                  </div>
  
                </div>
              </form>
            </div><!-- End Quote Form -->
  
          </div>
  
        </div>
  
      </section><!-- /Get Started Section -->

{% include 'foot.html' %}